// import .scss files here.

%submenu-icon {
  background: transparent;
  border: transparent;
  color: black;
  padding: 0.1em 0.2em;
}

header {
  ul {
    list-style-type: none;
  }
  .fl-page-nav-wrap {
    .navbar-nav {
      li {
        position: relative;
        a {
          color: black;
          padding: 15px;
        }
        // visually hide the ul.
        // give it a delay before closing
        ul {
          height: 0;
          opacity: 0;
          transition: all ease-in 0.5s;
          visibility: hidden;
        }
        // when you hover on the parent li, open the child ul with a slight fade in
        &:hover {
          > ul {
            height: 100%;
            opacity: 1;
            transition-delay: 0s, 0s, 0.25s;
            visibility: visible;
          }
          // change the symbol from downward caret to upward caret
          span:before {
            content: '∧';
            font-weight: bold;
          }
        }
        ul.submenu-list-open {
          height: 100%;
          opacity: 1;
          transition-delay: 0s, 0s, 0s;
          visibility: visible;
        }
      }
    }
    button {
      background-color: transparent;
      border: transparent;
      color: black;
      padding: 15px;
      &:hover,
      &:focus {
        color: inherit;
        outline: 1px solid blue;
      }
    }
    a + button {
      background: transparent;
      margin: 0;
      padding: 0;
      border: 0;
      position: absolute;
      top: 1em;
      left: 45%;
      &:focus {
        top: 1em;
        > span {
          background-color: black;
          color: white;
        }
      }
    }
    span {
      @extend %submenu-icon;
      margin-left: 0.5em;
      &:before {
        // remove the dependency on font awesome
        content: attr(data-before);
      }
    }
  }
}

header .fl-page-nav-wrap .navbar-nav .no-js {
  ul {
    height: 0;
    opacity: 0;
    transition: all ease-out 0.5s;
    visibility: hidden;
  }
  &:focus-within {
    > ul {
      height: 100%;
      opacity: 1;
      visibility: visible;
    }
    span:before {
      content: '∧';
      font-weight: bold;
    }
  }
}

// header .fl-page-nav-wrap .navbar-nav .no-js button:focus,
// header .fl-page-nav-wrap .navbar-nav .no-js button a:focus {
//   + ul {
//     height: 100%;
//     opacity: 1;
//     visibility: visible;
//     // transition-delay: 5s;
//     transition-duration: 5s;
//   }
// }




// header .fl-page-nav-wrap .navbar-nav .no-js button,
// header .fl-page-nav-wrap .navbar-nav .no-js button a {
//   &:focus {
//     + ul {
//       height: 100%;
//       opacity: 1;
//       transition-delay: 0s, 0s, .25s;
//       visibility: visible;
//     }
//     span:before {
//       content: '∧';
//       font-weight: bold;
//     }
//   }
//   ul
// }